.nav {
    max-width: 2560px;
    width: 100%;
    padding-left: 16px;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 60px;
}

.nav li {
    font-size: 30px;
    font-weight: 400;
}

.nav li.active {
    border-bottom: 2px solid white;
}

.nav li:hover {
    border-bottom: 2px solid white;
}

.nav a {
    color: white;
}

